<mat-card class="card">
  <mat-card-content class="content">

    <ul class="mensaje-list">
      <li class="mensaje-list-item" *ngFor='let mensaje of mensajes | async'>
        <div class="mensaje-col">
          <h3><a routerLink="{{mensaje._id}}/">{{mensaje.nombre}}</a></h3>
          <h4>{{mensaje.correo}}</h4>
          <p>{{mensaje.mensaje}}</p>
          <p *ngIf="mensaje.imagen"> <img class="imagen" [src]="mensaje.imagen" /> </p>
        </div>
        <div class="mensaje-col">
          <button mat-mini-fab color="warn" (click)="borrar(mensaje._id)">-</button>
        </div>
      </li>
    </ul>
  </mat-card-content>
  
  <mat-card-actions class="opciones">
    <form>
      <mat-form-field class="campo">
        <input matInput placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
      </mat-form-field>
      <br>
      <mat-form-field class="campo">
        <input matInput placeholder="Correo" [(ngModel)]="correo" name="correo">
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy" class="campo">
        <mat-label>Mensaje</mat-label>
        <input matInput placeholder="Escriba aqui..." [(ngModel)]="mensaje" name="mensaje" />
        <mat-icon class="icon" onclick="document.getElementById('archivo').click()" matSuffix>image</mat-icon>
      </mat-form-field>
      <p>
        <input id="archivo" #file type="file" accept='image/*' (change)="preview(file.files) " style="display:none;" />
      </p>
      <button mat-stroked-button color="primary" (click)="enviarMensaje()">Enviar</button>
    </form>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>