
.card{
    width: 50%;
    background-color: #f7f7f7;
    color: rgba(0,0,0,0.87);
    margin: 2% auto;
    .content{
        width: 100%;
        background-color: lavender;
        margin-bottom: 0px !important;
        border-radius: 5px;
        background: #aaaaaa29;
        .mensaje-list{
            padding: 5px 5px 5px 5px;
            .mensaje-list-item{  
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border: 2px #47474c3b;
                border-style: dotted;
                .imagen{
                    max-width: 200px;
                }
                .mensaje-col *{
                    margin:0;
                    padding: 0;
                    margin-bottom: 5px;
                }
            }
    
        }
    }
    .opciones{
        padding: 16px;   
        .campo{
            width: 100%;
            .icon:hover{
                box-shadow: 0 5px 3px #262b314d;
            }
        }         
    }
}